.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 1%;
    background-color: #022D50;
    img{
        width: 100px;
        height: 100px;
    }
    .title{
        text-transform: uppercase;
        font-weight: 900;
        color: #F6F7F8;
        cursor: pointer;
        &:hover{
            color: rgba(246, 247, 248, 0.815);
        }
    }
    .subtabs-container {
        ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            list-style: none;
            margin: auto auto;
            padding: 15px 15px;
            li {
                cursor: pointer;
                color: #F6F7F8;
                margin-left: 15px;
                &:hover{
                    color: rgba(246, 247, 248, 0.815);
                }
            }
        }
    }
}