.about-us-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px;
    color: #F6F7F8;
    .image-container{
        img {
            width: 200px;
            height: 200px;
            border-radius: 100%;
        }
    }
    .name-container{
        margin: 10px;
        text-transform: uppercase;
        h1{
            font-weight: 900;
        }
    }
    .description-container{
        width: 50%;
        text-align: center;
    }
    .social-container{
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            text-decoration: none;
            i {
                margin: 20px;
                font-size: xx-large;
                color: #F6F7F8;
                &:hover{
                    color: rgba(246, 247, 248, 0.815);
                }
            }
        }
    }
}