<div class="description-container">
    <div class="title-container">
        <h2>How it works?</h2>
    </div>
    <div class="description">
        <p>
            This web app decrease the number of steps a traders would need in order to open a new
            chart on TradingView and pull up the technical analysis for this chart. As it saves 3 steps
            into 1 step that is as simple as putting the Stock symbol in the search bar and hit the 
            search button, this is when the app will show the requested chart and populate basic
            technical analysis for short-term trading in order to save time for the traders. 
            <br>
            <br>
        </p>
        <p>
            To make the experience easier and faster, the app will keep track of all the searched stocks
            and gives the traders the ability to go back to a previously searched stock by only one click
            on the stock's symbol. The traders will be able to remove a specific stock that they have 
            searched for by clicking the [X] button next to the stock symbol and the stock will be removed 
            from the search history. The traders will also be able to delete the entire search history only
            by clicking the [Delete History] button.
        </p>
        <br>
        <br>
        <h4>Special Bonus</h4>
        <p>
            This web app is officially offered in two languages: English and Arabic which gives the traders 
            the ability the traders to user any language based on their preference. The search search search feature
            is set to English be default but could be changed to Arabic by simply checking the Arabic button.
            Also when clicking on a previously searched chart the traders could specify a different language
            than the one that was used the time before by simply checking the button according to their 
            preferred language.
        </p>
    </div>
</div>