.charts-search{
    color: #F6F7F8;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    app-stock-search{
        width: 100%;
    }
    .charts-language{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        p {
            margin-right: 2%;
            margin-bottom: 0;
            width: 100%;
            text-align: center;
        }
        .en-container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin: 2%;
        }
        .ar-container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin: 2%;
        }
    }
}

.search-features{
    margin: 3%;
    .previous-search-title{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        h3{
            text-align: center;
            color: #F6F7F8;
            margin-right: 1%;
        }
    }
    .previous-search-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #F6F7F8;
        .previous-search{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 3%;
            cursor: pointer;
            a {
                color: #F6F7F8;
                h6{
                    margin-bottom: 0px;
                }
                &:hover {
                    color: #f6f7f8c5;
                }
            }
            button{
                margin: 20px;
            }
        }
    }
}

.tradingview-widget-container{
    color: #F6F7F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .view-info-container{
        text-align: center;
    }
    a {
        color: #F6F7F8;
    }
}