<!-- TradingView Widget BEGIN -->
<div class="charts-search">
    <app-stock-search (requestedStock)="stockChart($event)"></app-stock-search>
    <div class="charts-language">
        <p>You can change the language of the charts: </p>
        <div class="en-contianer">
            <input type="text" class="en-chart" name="charts-language" value="english" type="radio" checked><label for="english">English</label>
        </div>
        <div class="ar-container">
            <input type="text" class="ar-chart" name="charts-language" value="arabic" type="radio"><label for="arabic">Arabic</label>
        </div>
    </div>
</div>
<div class="search-features">
    <div class="previous-search-title" *ngIf="searchedStocksLocalStorageParsed.length > 0">
        <h3>Previously Searched Charts</h3>
        <button class="btn btn-danger" (click)="clearSearchHistory()">Delete History</button>
    </div>
    <div class="previous-search-container">
        <div class="previous-search" *ngFor="let searchedStocksLocalStorageParsed of searchedStocksLocalStorageParsed; let i = index">
            <a><h6 [routerLink]="['/', searchedStocksLocalStorageParsed]" (click)="stockChart(searchedStocksLocalStorageParsed)">{{ searchedStocksLocalStorageParsed }}</h6></a>
            <button class="btn btn-danger" (click)="removeStockFromHistory(i)">X</button>
        </div>
    </div>
</div>
<div class="tradingview-widget-container">
    <div class="view-info-container">
        <h5>You can click on the pop-up icon - at the top of the chart - to get better view for the charts.</h5>
    </div>
    <div id="tradingview_3a114"></div>
    <div class="tradingview-widget-copyright">All charts are provided by <a href="https://www.tradingview.com/symbols" rel="noopener" target="_blank">TradingView</a></div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
</div>
<!-- TradingView Widget END -->

<!-- Modal BEGINS -->

<!-- <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button (click)="hideModal()" type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
        </div>
    </div>
</div> -->

<!-- Modal ENDS -->